.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


.header .bgimg{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/header/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header .image-wrapper{
    width: 100%;
    min-height: 100vh;
    /* background-color: #f36621; */
    background-color: #f3672127;
    background-attachment: fixed;
}

.header .content{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.header .content h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.header .content .header-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 500px;
    height: 500px;
}

@media(max-width:576px){
    .header .content h1{
        font-size: 50px;
    }
    .header .content .header-logo{
        width: 250px;
        height: 250px;
    }
}