.customer-reviews{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}


.customer-reviews .bgimg{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/customer-reviews/customer-reviews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.customer-reviews .image-wrapper{
    width: 100%;
    min-height: 100vh;
    /* background-color: #f36621; */
    background-color: #f3672152;
    background-attachment: fixed;
}

.customer-reviews .content{
    position: absolute;
    width: 100%;
    /* min-height: 100vh; */
    margin: 0;
    color: white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
/* .customer-reviews .content span{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
} */

.customer-reviews .content h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom:50px;
    padding: 0 40px;
}

.customer-reviews .reviews-slider{
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

/* .customer-reviews .reviews-slider img{
    margin: auto;
    border-radius: 50%;
}
.customer-reviews .reviews-slider img:hover{
    cursor: pointer;
} */
.customer-reviews .video-container{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* margin: 15px; */
    /* margin-top: 50px; */
    margin: auto;
  }
  
  .customer-reviews .video-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  border: 8px solid white;
  }
  
  .customer-reviews .video-wrapper:hover {
    cursor: pointer;
    border: 8px solid #f36621;
  }
  
  .customer-reviews .video-wrapper:hover .video-icon{
  cursor: pointer;
  color: #f36621;
  }
  
  .customer-reviews .video-icon{
  color: white;
  font-size: 80px;
  }
  
  .customer-reviews .video-icon:hover{
  color: #f36621;
  }
.customer-reviews .reviews-slider .out:focus{
    outline: none;
}
.customer-reviews .slick-next, .slick-prev{
  width: unset !important;
  height: unset !important;
  z-index: 100;
}
.customer-reviews .slick-next{
    right: 0;
}
.customer-reviews .slick-prev{
    left: 0;
}
.customer-reviews .slick-next:before, .slick-prev:before {
  font-size: 50px;
  color: white;
}
#customer-reviews-modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(14, 14, 15, 0.95);
    display: none;
  }
  
      @media(max-width: 576px){
        .customer-reviews .content h1{
            font-size: 50px;
        }
    .customer-reviews .video{
        width: 100px !important;
        height: 100px !important;
      }
      
      .customer-reviews .video-container{
          width: 100px;
          height: 100px;
      }
      
      .customer-reviews .video-wrapper{
        height: 100px;
        width: 100px;
      }
      .customer-reviews .video-icon{
        font-size: 40px;
      }
      .customer-reviews .video-wrapper{
        border: 4px solid white;
      }
      .customer-reviews .video-wrapper:hover {
        border: 4px solid #f36621;
      }
      }